@model IEnumerable<Conit.WEB.ViewModels.PartViewModel>
@{
    ViewBag.Title = "Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Parts</h2>
<p></p>
@Html.ActionLink("Add part", "New", "Parts", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
<p></p>
<table id="parts" class="table table-hover">
    <thead>
        <tr scope="row">
            <th>Picture</th>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th>Material</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model)
        {
            <tr scope="row">
                <td><img src='@part.PictureId' alt='No image.' class='img-thumbnail-company' /></td>
                <td>@Html.ActionLink($"{part.Name}", "Details", "Parts", htmlAttributes: null, routeValues: new { partDtoId = part.Id })</td>
                <td>@part.Description</td>
                <td>@part.Color</td>
                <td>@part.Material</td>
                <td>@Html.ActionLink("Edit", "Edit", "Parts", htmlAttributes: null, routeValues: new { partDtoId = part.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Parts", htmlAttributes: null, routeValues: new { partDtoId = part.Id })</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#parts').DataTable({
                columns: [
                    {
                        orderable: false
                    },
                    {},
                    {},
                    {},
                    {},
                    {
                        orderable: false
                    },
                    {
                        orderable: false
                    }
                ]
            });
        });
    </script>
}

