@model Conit.WEB.ViewModels.ProductViewModel
@{
    string title = $"{Model.CompanyDto.Name} {Model.Name}";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@title</h2>
<div class="form-row">
    <span id="output">
        @if (!Model.IsNewCreated)
        {
            <img src="@Model.PictureId" class="img-add-company" alt="@Model.Name" />
        }
    </span>
</div>
<div>
    <h4>@Model.Description</h4>
    <h5>@Model.Category</h5>
</div>
